# Python関連の無視設定
__pycache__/
*.pyc
*.pyo

# その他の無視設定
.env
.DS_Store

# データ関連の無視設定
!data/
data/*
!data/sample/
data/sample/*
!data/sample/videos/
!data/sample/frames/
!data/sample/results/
data/sample/videos/*
!data/sample/videos/.gitkeep
data/sample/results/*
!data/sample/results/.gitkeep
data/sample/frames/*
!data/sample/frames/.gitkeep

!data/voice_model/
data/voice_model/*
!data/voice_model/.gitkeep

!data/team_location_detection/
data/team_location_detection/*
!data/team_location_detection/predictions/
data/team_location_detection/predictions/*
!data/team_location_detection/predictions/.gitkeep

!data/team_location_detection/experiments/
data/team_location_detection/experiments/*

!data/team_location_detection/experiments/ball_finetune_long_004/
data/team_location_detection/experiments/ball_finetune_long_004/*
!data/team_location_detection/experiments/ball_finetune_long_004/fold_5/
data/team_location_detection/experiments/ball_finetune_long_004/fold_5/*.pth
!data/team_location_detection/experiments/ball_tuning_location/
data/team_location_detection/experiments/ball_tuning_location/*
!data/team_location_detection/experiments/ball_tuning_location/fold_location_train/
data/team_location_detection/experiments/ball_tuning_location/fold_location_train/*.pth
!data/team_location_detection/experiments/ball_tuning_location_easy/
data/team_location_detection/experiments/ball_tuning_location_easy/*
!data/team_location_detection/experiments/ball_tuning_location_easy/fold_location_easy_train/
data/team_location_detection/experiments/ball_tuning_location_easy/fold_location_easy_train/*.pth
!data/team_location_detection/experiments/ball_tuning_location_hard/
data/team_location_detection/experiments/ball_tuning_location_hard/*
!data/team_location_detection/experiments/ball_tuning_location_hard/fold_location_hard_train/
data/team_location_detection/experiments/ball_tuning_location_hard/fold_location_hard_train/*.pth
!data/team_location_detection/experiments/ball_tuning_team/
data/team_location_detection/experiments/ball_tuning_team/*
!data/team_location_detection/experiments/ball_tuning_team/fold_team_train/
data/team_location_detection/experiments/ball_tuning_team/fold_team_train/*.pth

data/team_location_detection/soccernet/*

!data/tdeed/
data/tdeed/*
!data/tdeed/action_class.txt
!data/tdeed/ballaction_class.txt
!data/tdeed/checkpoints/
data/tdeed/checkpoints/*
!data/tdeed/checkpoints/soccernetball/
data/tdeed/checkpoints/soccernetball/*
!data/tdeed/checkpoints/soccernetball/SoccerNetBall_challenge2/
data/tdeed/checkpoints/soccernetball/SoccerNetBall_challenge2/*
!data/tdeed/checkpoints/soccernetball/SoccerNetBall_challenge2/.gitkeep
!data/tdeed/checkpoints/soccernetball/SoccerNetBall_test/
data/tdeed/checkpoints/soccernetball/SoccerNetBall_test/*
!data/tdeed/checkpoints/soccernetball/SoccerNetBall_test/.gitkeep


src/team_location_detection/notebook
src/tdeed/notebook

OpenAI_API_key.txt